#headerWrapper {
    display: flex;
    justify-content: center;
}

#imageWrapper {
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

figure {
    width: 30em;
    height: 30em;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.7s;

    background-repeat: no-repeat;
    background-position: center center;
}

figure:hover {
    opacity: 0.2;
}

figure p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
    background-image: url(../tiles/cncpts.jpg);
}

#img2 {
    background-image: url(../tiles/collab.jpg);
}

#img3 {
    background-image: url(../tiles/frgmnts.jpg);
}

#img4 {
    background-image: url(../tiles/nakba.jpg);
}

#img5 {
    background-image: url(../tiles/pomo.jpg);
}

#img6 {
    background-image: url(../tiles/qnto.jpg);
}

#img7 {
    background-image: url(../tiles/quilt.jpg);
}

#img8 {
    background-image: url(../tiles/rowe.jpg);
}

#img9 {
    background-image: url(../tiles/schmtcs.jpg);
}
