@-webkit-keyframes title-fade {
    100% {
        opacity: 1;
    }
}

@keyframes title-fade {
    100% {
        opacity: 1;
    }
}

#headerWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding-top: 2em;
    padding-bottom: 2em;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 2.4em;
    padding-bottom: .1em;
    letter-spacing: .05em;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding-bottom: .1em;
}

p {
    font-family: 'Alegreya', serif;
    font-style: italic;
}

#contentWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.imageWrapper {
    background-color: black;

    width: 300px;
    height: 300px;
}


figure {
    width: 300px;
    height: 300px;

    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;

    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    text-align: center;
    margin-top: -150px;
    color: white;
    opacity: 0;
}

.imageWrapper:hover figure {
    opacity: 0.2;
}

.imageWrapper:hover .title {
    -webkit-animation: title-fade 2s ease;
    animation: title-fade 2s ease;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
}

#img1 {
    background-image: url(../tiles/cncpts.jpg);
}

#img2 {
    background-image: url(../tiles/collab.jpg);
}

#img3 {
    background-image: url(../tiles/frgmnts.jpg);
}

#img4 {
    background-image: url(../tiles/nakba.jpg);
}

#img5 {
    background-image: url(../tiles/pomo.jpg);
}

#img6 {
    background-image: url(../tiles/qnto.jpg);
}

#img7 {
    background-image: url(../tiles/quilt.jpg);
}

#img8 {
    background-image: url(../tiles/rowe.jpg);
}

#img9 {
    background-image: url(../tiles/schmtcs.jpg);
}
